[submodule "public"]
	path = public
	url = https://github.com/SysManSquad/sysmansquadblog.git
[submodule "themes/sysmansquadblog_theme"]
	path = themes/sysmansquadblog_theme
	url = https://github.com/SysManSquad/sysmansquadblog_theme.git
