{{ if eq .display "true" }}
<center>
    <img src="/authors/{{ .stub }}/avatar.png" alt="Photo of {{ .name }}" width="200px" /><br />
    <strong>{{ .name }}</strong>
    <em>{{ .role }}</em>
        <div>
        {{ if .social.twitter }}
        <a href="https://twitter.com/{{.social.twitter}}"><img src="/img/social/twitter.png" width="40px"></a>
        {{ end }}
        {{ if .social.linkedin }}
        <a href="https://www.linkedin.com/in/{{.social.linkedin}}"><img src="/img/social/linkedin.png" width="40px"></a>
        {{ end }}
        </div>
    <p>{{ .bio }}</p>
</center>
<hr />
{{ end }}